@(students:java.util.List[Student])
<table id="datas" class="table table-bordered table-striped"
>
    <thead>
        <tr>
            <th data-sortable="true">Reg No </th>
            <th data-sortable="true">Name</th>
            <th data-sortable="true"> Year </th>
            <th data-sortable="true">Course</th>
            <th > Actions </th>

</tr>
    </thead>
    <tbody>
        @for(std<-students) {


            <tr>
                <td>@std.getReg_no</td>

                <td>@std.fullName()</td>

                <td>@std.getYear</td>
                <td>@std.getCourse.getName</td>


                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="@routes.StudentsController.editStudent(std.getReg_no().replaceAll("/","_"))"><i class="icon_pencil-edit"></i></a>

                    </div>
                </td>

            </tr>
        }

    </tbody>
</table>