@import views.html.helper.FieldConstructor
@import views.html.helper.options
@(titles:java.util.List[String],unitF:play.data.Form[Unit],user: User)(implicit assetsFinder: AssetsFinder,
        messages: play.i18n.Messages,request: Http.Request)
@implicitField=@{FieldConstructor(_fieldConstructor.render)}

@formsviews.formContainer(titles,user){
    @helper.form(action = routes.UnitsController.add_EditUnitP(),Symbol("class")->"form-horizontal") {

        @helper.CSRF.formField
        <div hidden="hidden">
            @helper.inputText(unitF("id"),
            Symbol("type")->"number"
            )
        </div>
        @helper.inputText(unitF("unitCode"),
            Symbol("class")->"form-control",
            Symbol("_label")->"Unit code",
            Symbol("_showConstraints")->false
        )
        @helper.inputText(unitF("name"),
            Symbol("class")->"form-control",
            Symbol("_showConstraints")->false
        )

        @helper.select(unitF("lecturer"),
            options(Lecturer.options()),
            Symbol("class")->"form-control",
            Symbol("_showConstraints")->false
        )




        <div class="form-group row">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-success form-control" style="font-size: 16px;font-weight: bolder"
                type="submit">S&nbsp;&nbsp; A &nbsp;&nbsp; V &nbsp; E </button>
            </div>
        </div>

    }
}