@(user:User)
<aside>
    <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
        <ul class="sidebar-menu">

            @if(user.isAdmin){
                <li class="">
                    <a class="" href="@routes.HomeController.index()">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <span>Lecturers</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="fa fa-eye" href="@routes.HomeController.index()">View</a></li>
                        <li><a class="fa fa-plus" href="@routes.LecturersController.createLecturerForm()">Add</a></li>


                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <span>Students</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="fa fa-eye" href="@routes.StudentsController.adminIndex()">View</a></li>
                        <li><a class="fa fa-plus" href="@routes.StudentsController.add_EditStudent()">Add</a></li>


                    </ul>
                </li>


                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <span>Courses</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="fa fa-eye" href="@routes.CourseController.adminIndex()">View</a></li>
                        <li><a class="fa fa-plus" href="@routes.CourseController.add_EditCourse()">Add</a></li>


                    </ul>
                </li>



                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <span>Classes</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="fa fa-eye" href="#">View</a></li>


                    </ul>
                </li>



                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <span>Units</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="fa fa-eye" href="@routes.UnitsController.adminIndex()">View</a></li>
                        <li><a class="fa fa-plus" href="@routes.UnitsController.add_EditUnit()">Add</a></li>


                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <span>Lecture Halls</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="fa fa-eye" href="@routes.HallsController.adminIndex()">View</a></li>
                        <li><a class="fa fa-plus" href="@routes.HallsController.add_EditHall()">Add</a></li>
                    </ul>
                </li>
           <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <span>Departments</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="fa fa-eye" href="@routes.DepartmentController.adminIndex()">View</a></li>
                        <li><a class="fa fa-plus" href="@routes.DepartmentController.add_EditDepartment()">Add</a></li>
                    </ul>
                </li>



            }

            @if(user.isLecturer){

            }

            @if(user.isStudent){

            }

           @* <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_documents_alt"></i>
                    <span>Pages</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="profile.html">Profile</a></li>
                    <li><a class="" href="login.html"><span>Login Page</span></a></li>
                    <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
                    <li><a class="" href="blank.html">Blank Page</a></li>
                    <li><a class="" href="404.html">404 Error</a></li>
                </ul>
            </li>*@

        </ul>
            <!-- sidebar menu end-->
    </div>
</aside>