@(titles:java.util.List[java.lang.String],user:User)(implicit assetsFinder: AssetsFinder)

@main(titles.get(0)){
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->

    @_header(assetsFinder,user.getUsername )
    @_sidemenu(user)

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header">@titles.get(1)</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="@routes.HomeController.index()">Home</a></li>

            </ol>
          </div>
        </div>
        <!-- page start-->

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                @titles.get(2)
              </header>

  @if(user.isAdmin){
  @tabledata.lecturersdata(Lecturer.finder.all())
}
                @if(user.isLecturer){

                }

                @if(user.isStudent){

                }
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    <div class="text-right">

    </div>
  </section>
  <!-- container section end -->
  <!-- javascripts -->

}


