@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)(implicit assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">

 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Wanzetse">
  <meta name="keyword" content="Laikipia University, Biometric class attendance, software">
  <link rel="shortcut icon" href="@assetsFinder.path("img/favicon.ico")">

  <title>@title</title>

   <!-- Bootstrap CSS -->

  <link href="@assetsFinder.path("assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet">

   <!-- bootstrap theme -->
  <link href=" @assetsFinder.path("css/bootstrap-theme.css")" rel="stylesheet">
   <!--external css-->
   <!-- font icon -->
  <link href="@assetsFinder.path("css/elegant-icons-style.css")" rel="stylesheet" />
  <link href="@assetsFinder.path("assets/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
   <!-- Custom styles -->

  <link href="@assetsFinder.path("assets/bootstrap-table/bootstrap-table.min.css")" rel="stylesheet">
  <link href="@assetsFinder.path("css/style.css")" rel="stylesheet">
  <link href="@assetsFinder.path("css/style-responsive.css")" rel="stylesheet">
  <link href="@assetsFinder.path("assets/DataTables/datatables.min.css")" rel="stylesheet">





   <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
   <!--[if lt IE 9]>
<script src="@assetsFinder.path("js/html5shiv.j")"></script>
  <script src="@assetsFinder.path("js/respond.min.js")"></script>
<script src="@assetsFinder.path("js/lte-ie7.js")"></script>
  <![endif]-->


 </head>
 <body>

@content



 <script src="@assetsFinder.path("assets/jquery/jquery.min.js")"></script>
 <script src="@assetsFinder.path("assets/popper.js/dist/umd/popper.min.js")"></script>
 <script src="@assetsFinder.path("assets/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@assetsFinder.path("assets/DataTables/datatables.min.js")"></script>

 <script src="@assetsFinder.path("assets/bootstrap/js/bootstrap.bundle.min.js")"></script>
  <!-- nicescroll -->
 <script src="@assetsFinder.path("js/jquery.scrollTo.min.js")"></script>
 <script src="@assetsFinder.path("js/jquery.nicescroll.js")" type="text/javascript"></script>
  <!--custom script for all page-->
 <script type="text/javascript" src="@assetsFinder.path("js/jquery.validate.min.js")"></script>

  <!-- custom form validation script for this page-->


 <script src="@assetsFinder.path("js/scripts.js")" type="text/javascript"></script>


  <script type="text/javascript">
          $(document).ready(function() {
           $('#datas').DataTable();
          });

  </script>

 </body>

</html>