

@import views.html.helper.FieldConstructor
@import forms.RegisterAdminForm
@(message: String,formR:play.data.Form[RegisterAdminForm])( implicit assetsFinder: AssetsFinder,request: Http.Request,
        messages: play.i18n.Messages)
@implicitField=@{FieldConstructor(_fieldConstructor.render)}
    @main(message){
    @_header(assetsFinder,"")
        @if(User.finder.query().where().ieq("username",request.session().get("user").orElse("")).findOne()!=null){

    @_sidemenu(User.finder.query().where().ieq("username",request.session().get("user").orElse("")).findOne())
        }
        @if(User.finder.query().where().ieq("username",request.session().get("user").orElse("")).findOne()==null){

    @_sidemenu(new User())
        }

            <!-- container section start -->

            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><i class="fa fa-user"></i>System Deployment</h3>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home"></i><a href="@routes.HomeController.index()">Home</a></li>
                                <li><i class="icon_document_alt"></i>Forms</li>
                                <li><i class="fa fa-files-o"></i>Form Validation</li>
                            </ol>
                        </div>
                    </div>
                        <!-- Form validations -->

                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Register System Administrator
                                </header>
                                <div class="panel-body">
                                    <div class="form">
                                        @helper.form(routes.AuthController.adminRegister(),Symbol("class")->"form-validate form-horizontal",
                                        Symbol("id")->"register_form"){
                                      @helper.CSRF.formField
                                       @helper.inputText(formR("email"),
                                       Symbol("type")->"email",
                                       Symbol("class")->"form-control",
                                       )
                                       @helper.inputText(formR("username"),
                                           Symbol("class")->"form-control"
                                       )
                                       @helper.inputPassword(formR("password"),
                                           Symbol("class")->"form-control")
                                       @helper.inputPassword(formR("password2"),
                                           Symbol("class")->"form-control",
                                           Symbol("_label")->"Confirm Password",
                                       )

                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10">
                                                    <button class="btn btn-success form-control" style="font-size: 16px;font-weight: bolder"
                                                    type="submit">S&nbsp;&nbsp; a &nbsp;&nbsp; v &nbsp; e</button>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                        <!-- page end-->
                </section>
            </section>
                <!--main content end-->
            <div class="text-right">

            </div>

}
