
@import forms.RegisterAdminForm
@import views.html.helper.FieldConstructor
@(message: String,formR:play.data.Form[RegisterAdminForm])( implicit assetsFinder: AssetsFinder,request: Http.Request,
        messages: play.i18n.Messages)
    @implicitField=@{FieldConstructor(fieldConstructor.render)}
@main(message){
    @_header()
    @_sidemenu()
            <!-- container section start -->

            <section id="main-content">
                <section class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><i class="fa fa-user"></i>System Deployment</h3>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                                <li><i class="icon_document_alt"></i>Forms</li>
                                <li><i class="fa fa-files-o"></i>Form Validation</li>
                            </ol>
                        </div>
                    </div>
                        <!-- Form validations -->

                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    Register System Administrator
                                </header>
                                <div class="panel-body">
                                    <div class="form">
                                        @helper.form(routes.AuthController.adminRegister(),Symbol("class")->"form-validate form-horizontal",
                                        Symbol("id")->"register_form"){
                                      @helper.CSRF.formField
                                       @helper.inputText(formR("email"),
                                       Symbol("type")->"email",
                                       Symbol("class")->"form-control",
                                       )
                                       @helper.inputText(formR("username"),
                                           Symbol("class")->"form-control"
                                       )
                                       @helper.inputPassword(formR("password"),
                                           Symbol("class")->"form-control")
                                       @helper.inputPassword(formR("password2"),
                                           Symbol("class")->"form-control",
                                           Symbol("_label")->"Confirm Password",
                                       )

                                            <div class="form-group">
                                                <div class="col-lg-offset-2 col-lg-10">
                                                    <button class="btn btn-success form-control" style="font-size: 16px;font: bolder"
                                                    type="submit">S&nbsp;&nbsp; a &nbsp;&nbsp; v &nbsp; e</button>
                                                </div>
                                            </div>
                                    }
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                        <!-- page end-->
                </section>
            </section>
                <!--main content end-->
            <div class="text-right">
                <div class="credits">
                        <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>

}
